/* Global Css */
body{
    font-family: 'Berkshire Swash', cursive;
    margin: 0;
}
/* Global CSS End */

/* Common CSS */
.flex-container{
    display: flex;
    margin-bottom: 150px;
}

h1{
    font-size: 50px;
}


h3{
    font-size: 23px;
}

p{
    font-size: 18px;
}

.button-link{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 15px 40px;
    margin-top: 7px;
    font-weight: 700;
    background-image: linear-gradient(to right,tomato, orange);
    display: inline-block;
    border-radius: 5px;
}

.button-link:hover{
    background-image: linear-gradient(to left,tomato, orange);
    
}
/* Common CSS End */

/* Section-1 */
.section-1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    margin-left: 20px;
}

.change-color {
    color: tomato;
}


.half-width img {
    width: 80%;
}


/* End of Section-1 */

/* Section-2 */
.section-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* End of Section-2 */

/* Section-3 */
.section-3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 185px;
}

.experience{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 38px gray;
    height: 55vh;
    border-radius: 10px;
}

#fullstack{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
}

.exp-title{
    font-size: 45px;
}

/* End of Section-3 */

/* Footer Start */
footer p{
    text-align: center;
}
/* Footer End */